# Whistleblower Platforms with Evidence Verification

## Why
Whistleblowers need to share proofs without exposing themselves or the recipient.

## High-level Technical Design
Encrypted claims and documents can be uploaded and verified confidentially and if verified, only then it triggers reveal or unlocks access.

## Why is it only possible with Arcium
Arcium allows to have confidential computing for pre-verification on top of shared private state, which is a necessity for privacy in such platform. Traditional smart contract systems are prone to data leaks, which can result in threats to people's lives.
